[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
requests = "*"

[dev-packages]

[requires]
python_version = "3.10"
djangorestframework = "3.13.1"
requests = "2.27.1"