<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>BigFinance | API | Documentation</title>
</head>
<body>
    <ul>
        <li>
            Authorization : <br>
            To request the endpoints of the api, you must authenticate yourself by passing your token in the header of the request. <br>
            example : {Authorization: Token qwlifowajfaiejfie12904e913wqfdjiwqfoij1298e} <br>
            To get a token, please contact me.
        </li>
        <br>
        <li>
            Endpoints : <br>
            <ul>
                <li>
                    <h4>Finnhub data api</h4> <br>
                    profile : https://bigfinance-api.herokuapp.com/finnhub/api/v1/profile/COMPANY SYMBOL/ <br>
                    quote : https://bigfinance-api.herokuapp.com/finnhub/api/v1/quote/COMPANY SYMBOL/ <br>
                    recommendation : https://bigfinance-api.herokuapp.com/finnhub/api/v1/recommendation/COMPANY SYMBOL/ <br>
                    social sentiment : https://bigfinance-api.herokuapp.com/finnhub/api/v1/sociale-sentiment/COMPANY SYMBOL/ <br>
                    news : https://bigfinance-api.herokuapp.com/finnhub/api/v1/profile/NEWS CATEGORY/ news category can be general, forex, crypto or merger<br>
                </li>
                <li>
                    <h4>StockData data api</h4> <br>
                    intraday : https://bigfinance-api.herokuapp.com/stockdata/api/v1/intraday/COMPANY SYMBOL/ <br>
                    quote : https://bigfinance-api.herokuapp.com/stockdata/api/v1/quote/COMPANY SYMBOL/ <br>
                    end of day quotation : https://bigfinance-api.herokuapp.com/stockdata/api/v1/end-of-day/COMPANY SYMBOL/ <br>
                    news : https://bigfinance-api.herokuapp.com/stockdata/api/v1/news/COMPANY SYMBOL/ <br>
                </li>
            </ul>
        </li>
    </ul>

</body>
</html>